/bin/
.gradle/
.idea/
/build/
/.settings/
/generated/
/run/
gradle*

# Class files
**/*.class
!libs-jmm/**/*.class

# debug files
output.ollir
output.jasmin
output.j

src/main/pt/up/fe/comp2025/input.txt
